{{>links}}
    {{>navbar}}
    <div class="container-fluid main_header">  
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">   
                    {{!-- Right side div --}}
                    <div class="col-md-6 col-12 main_header_right ">
                        <div class="image">
                            <img src="/images/404.png" alt="">
                        </div>
                    </div>

                    <!-- Left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p> <span class="text_color">Oops!</span> Something went wrong</p>
                        <h3>Get The Latest <span class="text_color">Weather</span> Info of Your City</h3>
                        <a href="/"><button class="btn">Go To Home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>footer}}
</body>

</html>