{{>links}}
{{>navbar}}
<p class="aboutus">

The HJ forecasting web application has been developed for you at our company, U, in collaboration with Marek Mojzík and Martin Prantl. We are a Czech meteorological company based in Pilsen. At our company, we focus on weather prediction and meteorological data visualisation. We have a wealth of experience in presenting weather data from our portal, In-počasí, which was founded in 2006 and is now one of the highest-traffic servers in the Czech Republic. We decided to take advantage of our knowledge and experience and create a top-quality application that clearly displays meteorological data from around the world and allows you to monitor weather development for any place on earth.
<br>
<br>
 The Earth's weather functions as an interdependent system. For example, a hurricane in the Atlantic has the ability to influence the distribution of pressure formations in Europe. Occasionally, it may even make its way to Europe itself as a post-tropical storm. The Ventusky application allows for the illustration of the interdependence of the entire system, displaying the development of pressure, wind, cloud cover, precipitation, and temperature on the map.
    <br>
    <br>
 For visualisation of wind data, we utilise current lines that are used to illustrate the movement of particles in liquids. Air and liquid have many similar physical properties, and, as published by Fernanda Viégas and Martin Wattenber (Hint.fm, 2012), current lines are suitable for illustrating wind as well. Because of this, the map depicts wonderful formations illustrating pressure lows that draw in the air around them. We have created an entirely new system of displaying waves. Through the use of animated arcs, our visualisation clearly differentiates the direction of movement and height of both wind waves and swells. For the other meteorological elements, we chose colour scales that appropriately illustrate precipitation, air pressure, and temperature. The colours correspond with the feeling that the given weather phenomena evokes in us. For temperature, blue illustrates cool weather while dark red depicts hot desert air. 
 
 <br>
 <br>
 <br> For precipitation, we concentrated on the danger associated with it. Blue colours represent low precipitation totals that will not result in floods. Orange and red hues, on the other hand, are dangerous and may bring flooding. The name itself, Ventusky, is a combination of two words. The first is the Latin word, Ventus, means wind, and the second is the English word, Sky. The Ventusky application is accessible to anyone around the world, aimed at improving awareness about meteorological events in our atmosphere. Images from the application can be redistributed with source and thus help us achieve our goal. </p>



{{>footer}}