{{>links}}
  {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/about.jpg" alt="Harsh" class="img-fluid">
                        </figure>
                    </div>
                    <!-- Left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text_color">full stack web developer</span> & college student</h1>
                        <a href="/about_us"><button class="btn">About Us </button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>

    {{>footer}}
    </body>

</html>